@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background-color: #333333;
}

.header {
	background: #8DCB89;
	color: #fff;
	padding: 0 1rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
nav {
	display: none;
	text-align: center;
	padding: 5rem 0;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	margin: 0 1rem;
}
nav ul li a {
	background: #6FC06A66;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	display: inline-block;
	padding: .75rem 1.25rem;
	border-radius: 8px;
}
nav ul li a:hover {
	background: #6FC06A;
}

section .title {
	font-size: 2.8rem;
	text-align: center;
}
section .subtitle, .section-header .subtitle {
	text-transform: uppercase;
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 2rem;
}

.section-header {
	text-align: center;
}
.section-header .title {
	font-size: 3.5rem;
}
.section-header .subtitle {
	color: #ffffffaa;
}
.section-header .subtitle a {
	color: #ffffff;
	text-decoration: none;
}

.section-features {
	background: #EDEDED;
	color: #333333;
	text-align: center;
	padding: 5rem 1rem;
	font-size: 1.2rem;
}
.section-features .title {
	margin-bottom: 2rem;
}
.section-features ul {
	padding: 0;
	list-style-type: none;
}
.section-features li {
	padding: .5rem 0;
	text-align: left;
}
.section-features li::before {
	content: '- ';
}

.section-responsive-demo {
	padding: 5rem 1rem;
	color: #EEEEEE;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section-responsive-demo .title {
	margin-bottom: 2rem;
}

.section-responsive-demo .responsive-devices {
	margin-top: 1rem;
}
.section-responsive-demo .responsive-device-switch {
	color: #ffffff;
	text-decoration: none;
	font-size: 2rem;
	margin: 0 1rem;
	outline: none;
}
.section-responsive-demo .responsive-device-switch.active {
	color: #8DCB89;
}

.section-fixed-size-demo {
	background: #EDEDED;
	color: #333333;
	padding: 5rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-full-demo {
	background: #ffffff;
	padding: 5rem 1rem;
	color: #333333;
}
.section-full-demo .title {
	text-align: center;
	font-size: 2.8rem;
}
.section-full-demo .title2 {
	margin-top: 2rem;
}

.section-buy {
	background: #E74E59;
	color: #ffffff;
	padding: 5rem 1rem;
}
.section-buy .title {
	font-size: 2.8rem;
	text-align: center;
	margin-bottom: 2rem;
}
.section-buy ul {
	list-style-type: none;
	margin: 0;
}
.section-buy ul li {
	padding: .5rem 0;
	font-size: 1.2rem;
}
.section-buy ul li::before {
	content: '- ';
}
.section-buy .buy-btn {
	margin-top: 3rem;
	text-align: center;
}
.section-buy .buy-btn a {
	display: inline-block;
	background-color: #8DCB89;
	color: #ffffff;
	text-decoration: none;
	padding: 1.5rem 2.5rem;
	text-transform: uppercase;
	border-radius: 8px;
	font-size: 1.3rem;
	letter-spacing: .25rem;
}

.fixed-size-players-container {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.fixed-size-players-container > div {
	margin: 1rem;
}
.responsive-player-container {
	width: calc(100vw - 1rem);
	height: 100vh;
	margin: 1rem 0;
	border: 5px solid #8DCB89;

	display: flex;
	justify-content: center;
	align-items: center;
}

.inline-players {
	margin-top: 2rem;
	font-size: 1rem;
}
.inline-players p {
	margin-bottom: 1rem;
}

.footer {
	text-align: center;
	color: #888;
	padding: 5rem 1rem;
}

/* Tablets */
@media all and (min-width: 380px) {
	
}

/* Desktops */
@media all and (min-width: 1024px) {
	nav {
		display: block;
	}

	.section-header {
		flex: 1;
		padding-top: 15vh;
	}

	.section-features .columns {
		display: flex;
	}
	.section-features .columns .column {
		padding: 0 1rem;
	}

	.container {
		width: 1024px;
		margin: 0 auto;
	}
}